<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @team.player %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @team.coach %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
